## Загрузим нужные библиотеки

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import numpy as np 

%matplotlib inline

In [362]:
df_train = pd.read_csv("./content/train_dataset_train.csv")
df_train['split'] = 'train'
df_train_len = len(df_train)

In [363]:
df_test = pd.read_csv("./content/test_dataset_test.csv")
df_test['split'] = 'test'

In [364]:
df_with_split = pd.concat([df_train, df_test], axis=0)
#df_with_split = df_with_split.set_index('RecordNo')

## Рассмотрим датасет по ближе

In [379]:
df_with_split.head(3)

,Название книги,Автор,Ссылка на литрес,Рейтинг,Количество оценок,Количество отзывов,Имя читателя,Оценка книги читателем (из 5 баллов),Отзыв,Лайки на отзыв,Дислайки на отзыв,Релевантность,Таксономия релевантные,Таксономия не релевантные,Длина отзыва,Ценности,split,cultura_review_words_count,review_total_words_count
RecordNo,,,,,,,,,,,,,,,,,,,
6145,Зулейха открывает глаза,23,https://www.litres.ru/guzel-yahina/zuleyha-otk...,4.7,3922,408,Айгуль Ляпина,5.0,Рекомендую книгу в прочтению/прослушиванию. Ес...,0,3,0.0,0.0,0.0,0.0,0.0,train,0,15
7006,Зулейха открывает глаза,23,https://www.litres.ru/guzel-yahina/zuleyha-otk...,4.6,24719,2103,Olga T,5.0,"Удивительно, что сейчас возникает ТАКАЯ литера...",0,1,0.0,0.0,0.0,0.0,1.0,train,2,28
1124,Дети мои,23,https://www.litres.ru/guzel-yahina/deti-moi/,4.4,8032,702,Кирилл Чириков,5.0,"Душевно, жизненно, чувственно, проникновенно!!...",0,0,0.0,1.0,0.0,0.0,1.0,train,4,31

In [198]:
df_with_split.shape

(6914, 17)

In [10]:
df_with_split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4839 entries, 0 to 4838
Data columns (total 17 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   RecordNo                              4839 non-null   int64
 1   Название книги                        4839 non-null   object
 2   Автор                                 4839 non-null   object
 3   Ссылка на литрес                      4839 non-null   object
 4   Рейтинг                               4839 non-null   float64
 5   Количество оценок                     4839 non-null   int64
 6   Количество отзывов                    4839 non-null   int64
 7   Имя читателя                          4839 non-null   object
 8   Оценка книги читателем (из 5 баллов)  4070 non-null   float64
 9   Отзыв                                 4839 non-null   object
 10  Лайки на отзыв                        4839 non-null   int64
 11  Дислайки на отзыв                     4839 non-null   int64
 12  Релевантность                         4839 non-null   int64
 13  Таксономия релевантные                4839 non-null   int64
 14  Таксономия не релевантные             4839 non-null   int64
 15  Длина отзыва                          4839 non-null   int64
 16  Ценности                              4839 non-null   int64
dtypes: float64(2), int64(10), object(5)
memory usage: 642.8+ KB

## Добавим новые признаки

In [396]:
df_with_split["len_reviews"] = df_with_split["Отзыв"].map(len)

In [201]:
df_with_split["len_reviews"].describe()

count    6914.000000
mean      337.263379
std       364.006785
min         1.000000
25%       170.000000
50%       235.000000
75%       377.000000
max      8402.000000
Name: len_reviews, dtype: float64

In [397]:
df_with_split["Автор"] = pd.Categorical(df_with_split["Автор"])
df_with_split["Автор"].astype('category').cat.codes
df_with_split["Автор"] = df_with_split["Автор"].cat.codes
df_with_split["Автор"].astype('int64')

RecordNo
6145    23
7006    23
1124    23
4716    27
2946    27
        ..
4661    23
1547    23
6071    23
3805    45
471     48
Name: Автор, Length: 6914, dtype: int64

In [381]:
df_with_split

,Название книги,Автор,Ссылка на литрес,Рейтинг,Количество оценок,Количество отзывов,Имя читателя,Оценка книги читателем (из 5 баллов),Отзыв,Лайки на отзыв,Дислайки на отзыв,Релевантность,Таксономия релевантные,Таксономия не релевантные,Длина отзыва,Ценности,split,cultura_review_words_count,review_total_words_count
RecordNo,,,,,,,,,,,,,,,,,,,
6145,Зулейха открывает глаза,23,https://www.litres.ru/guzel-yahina/zuleyha-otk...,4.7,3922,408,Айгуль Ляпина,5.0,Рекомендую книгу в прочтению/прослушиванию. Ес...,0,3,0.0,0.0,0.0,0.0,0.0,train,0,15
7006,Зулейха открывает глаза,23,https://www.litres.ru/guzel-yahina/zuleyha-otk...,4.6,24719,2103,Olga T,5.0,"Удивительно, что сейчас возникает ТАКАЯ литера...",0,1,0.0,0.0,0.0,0.0,1.0,train,2,28
1124,Дети мои,23,https://www.litres.ru/guzel-yahina/deti-moi/,4.4,8032,702,Кирилл Чириков,5.0,"Душевно, жизненно, чувственно, проникновенно!!...",0,0,0.0,1.0,0.0,0.0,1.0,train,4,31
4716,ПОСТ,27,https://www.litres.ru/dmitriy-gluhovskiy/post/,3.9,430,48,Kimetov Oleg,5.0,Очень понравилось. Причем понравилось больше «...,2,7,0.0,1.0,0.0,0.0,0.0,train,0,39
2946,ПОСТ,27,https://www.litres.ru/dmitriy-gluhovskiy/post-...,4.4,832,113,Сергей Никитин,5.0,Круто. Автор и он же чтец – гений. Прослушал н...,1,0,0.0,0.0,0.0,0.0,0.0,train,1,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4661,Зулейха открывает глаза,23,https://www.litres.ru/guzel-yahina/zuleyha-otk...,4.6,24719,2103,Екатерина Юзбашьян,5.0,"Очень понравилась!!!! Написана грамотным, крас...",0,1,NaN,NaN,NaN,NaN,NaN,test,1,26
1547,Дети мои,23,https://www.litres.ru/guzel-yahina/deti-moi/,4.4,8032,702,239833928,4.0,Зулейха понравилась больше. Книга Дети мои каж...,0,0,NaN,NaN,NaN,NaN,NaN,test,0,26
6071,Зулейха открывает глаза,23,https://www.litres.ru/guzel-yahina/zuleyha-otk...,4.6,24719,2103,I be,5.0,"Прочла на одном дыхании, не смотря на раздираю...",0,1,NaN,NaN,NaN,NaN,NaN,test,4,37
3805,С неба упали три яблока,45,https://www.litres.ru/narine-abgaryan/s-neba-u...,4.8,1455,189,Ольга Акопян,5.0,нет слов. потрясающе. эту книгу не описать. но...,0,0,NaN,NaN,NaN,NaN,NaN,test,1,23
471,Лев Толстой: Бегство из рая,48,https://www.litres.ru/pavel-basinskiy/lev-tols...,4.4,151,24,559376271,5.0,Великолепная книга. Подробно описаны взаимоотн...,0,0,NaN,NaN,NaN,NaN,NaN,test,3,24

In [203]:
df_with_split = df_with_split.fillna(0)

In [286]:
# Подготавливаем список стоп-слов
import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords
words_stop = stopwords.words('russian')

# добавляем те слова и знаки которые мы так же считаем не нужными
st = ['.',',','!','?','-', '/', '(', ')']
words_stop +=st
words_stop

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Сергей\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['и',
 'в',
 'во',
 'не',
 'что',
 'он',
 'на',
 'я',
 'с',
 'со',
 'как',
 'а',
 'то',
 'все',
 'она',
 'так',
 'его',
 'но',
 'да',
 'ты',
 'к',
 'у',
 'же',
 'вы',
 'за',
 'бы',
 'по',
 'только',
 'ее',
 'мне',
 'было',
 'вот',
 'от',
 'меня',
 'еще',
 'нет',
 'о',
 'из',
 'ему',
 'теперь',
 'когда',
 'даже',
 'ну',
 'вдруг',
 'ли',
 'если',
 'уже',
 'или',
 'ни',
 'быть',
 'был',
 'него',
 'до',
 'вас',
 'нибудь',
 'опять',
 'уж',
 'вам',
 'ведь',
 'там',
 'потом',
 'себя',
 'ничего',
 'ей',
 'может',
 'они',
 'тут',
 'где',
 'есть',
 'надо',
 'ней',
 'для',
 'мы',
 'тебя',
 'их',
 'чем',
 'была',
 'сам',
 'чтоб',
 'без',
 'будто',
 'чего',
 'раз',
 'тоже',
 'себе',
 'под',
 'будет',
 'ж',
 'тогда',
 'кто',
 'этот',
 'того',
 'потому',
 'этого',
 'какой',
 'совсем',
 'ним',
 'здесь',
 'этом',
 'один',
 'почти',
 'мой',
 'тем',
 'чтобы',
 'нее',
 'сейчас',
 'были',
 'куда',
 'зачем',
 'всех',
 'никогда',
 'можно',
 'при',
 'наконец',
 'два',
 'об',
 'другой',
 'хоть',
 'после',
 'над',
 'больше',
 'тот',
 'через',
 'эти',
 'нас',
 'про',
 'всего',
 'них',
 'какая',
 'много',
 'разве',
 'три',
 'эту',
 'моя',
 'впрочем',
 'хорошо',
 'свою',
 'этой',
 'перед',
 'иногда',
 'лучше',
 'чуть',
 'том',
 'нельзя',
 'такой',
 'им',
 'более',
 'всегда',
 'конечно',
 'всю',
 'между',
 '.',
 ',',
 '!',
 '?',
 '-',
 '/',
 '(',
 ')']

## Обрабатываем колонку 'Название книги' на предмет там нахождения слов, имеющих отношение к ценности

In [287]:
#!pip install razdel

In [288]:
# Разделяем на слова
from razdel import tokenize

from tqdm import tqdm

def pd_tokenize(col_name): 
    
    text_strings = []

    for index, row in tqdm(df_with_split.iterrows()): 
        text_list = list(tokenize(row[col_name]))
        for i_tokeniz in text_list:
            if i_tokeniz.text not in words_stop:
                text_strings.append((index, i_tokeniz.text))

    # для удобства преобразуем в датафрейм
    df_tokenize = pd.DataFrame(text_strings,columns=['RecordNo', 'tokenize'])   
    #df_tokenize['RecordNo', 'tokenize'] = text_strings
    return df_tokenize

### Подготавливаем синонимические ряды

In [290]:
'''
традиционным
российским духовно-нравственным ценностям относятся «жизнь,
достоинство, права и свободы человека, патриотизм, гражданственность,
служение Отечеству и ответственность за его судьбу, высокие нравственные
идеалы, крепкая семья, созидательный труд, приоритет духовного над
материальным, гуманизм, милосердие, справедливость, коллективизм,
взаимопомощь и взаимоуважение, историческая память и преемственность
поколений, единство народов России»
'''

#https://synonymonline.ru/
    
cultura_words0 = [
    "традиционный", "российский", "духовный", "нравственный", "ценность",
    "жизнь", "достоинство", "право", "свобода", "человек", "патриотизм", "гражданственность",
    "служение", "отечество", "ответственность", "судьба", "высокий", "нравственный", "идеал", "крепкий", "семья", 
    "созидательный", "труд", "приоритет", "духовный", "материальный", "гуманизм", "милосердие", "справедливость", 
    "коллективизм", "взаимопомощь", "взаимоуважение", "исторический", "память", "преемственность", "поколение", 
    "единство", "народ", "россия",
]

cultura_word1 = [ # ценность
    "важность", "достоинство", "значение", "цена", "стоимость", "вес", "преимущество", "смысл", "сила", "авторитетность",
    "драгоценность", "неоценимость", "многоценность", "сверхценность", "самоценность", "традиция", "значимость", 
    "клад", "нужность", "неоцененность", "сокровище", "перл", "многознаменательность", "аксиология"
]

cultura_word2 = [ # традиционный
    "обычный", "сакраментальный", "установленный", "установившийся", "устоявшийся", "укоренившийся"
]

cultura_word4 = [ # нравственный
    "высоконравственный", "честный", "целомудренный", "добродетельный", "духовный", "душевный", "моральный", 
    "этический", "этичный", "поучительный", "добрый"
]    

cultura_word5 = [ # достоинство
    "преимущество", "величие", "величавость", "важность", "гордость"
]

cultura_word6 = [ # право
    "прерогатива", "преимущество", "привилегия", "льгота" 
]

cultura_word7 = [ # свобода
    "воля", "независимость", "беспрепятственность"
]    

cultura_word8 = [ # человек
    "личность", "особа", "персона", "индивид", "индивидуум", 
]    

cultura_word9 = [ # Отечество
    "отчизна", "родина", "страна" 
]    

cultura_word10 = [ # ответственность
    "ручательство", "поручительство", "порука", "обязательство", "надежность", "обязательность" 
]    

cultura_word11 = [ # судьба
    "предопределение", "провидение", "будущность", "грядущее", "удел", "жребий", "доля", "участь", "предназначение",
]    

cultura_word12 = [ # идеал
    "образец", "пример", "цель", "эталон", "совершенство", "абсолют"
]

cultura_word13 = [ # семья
    "родные", "род", "династия"
]    

cultura_word14 = [ # труд
    "работа", "дело", "деятельность", "усилие", "труженичество", "занятие", "старание", "напряжение", "создание", "творение",
]    

cultura_word15 = [ # приоритет
    "преимущество", "первенство"
]

cultura_word3 = [ # гуманизм
    "мировоззрение", "гуманность", "человеколюбие", "человечность"
]    

cultura_word16 = [ # милосердие
    "добросердечие", "доброта", "сочувствие",
    "благожелательность", "благость", "благоволение", "доброжелательность",
    "благосклонность", "любезность", "великодушие", "жалость", "сострадание", "ласка",
    "любовь", "снисхождение", "добро", "сердоболие", "прощение"
]    

cultura_word17 = [ # cправедливость
    "праведность", "честность", "беспристрастность",
    "беспристрастие", "заслуженность", "нелицеприятность", "непредубежденность",
    "непредвзятость", "объективность", "правда", "правильность", "верность", "законность",
    "достоверность", "истинность", "правосудие"
]    

cultura_word18 = [ # коллективизм
    "содружество"
]    

cultura_word19 = [ # взаимопомощь
    "помощь", "взаимовыручка"
]    

cultura_word20 = [ # взаимоуважение
    "уважение"
]    

cultura_word21 = [ # народ
    "люди", "население", "нация", "народонаселение"
]

cultura_word22 = [ # единство
    "целостность", "цельность", "монолитность",
    "целость", "общность", "соборность", "идентичность", "слитность", "тождественность",
    "сплоченность", "солидарность", "единомыслие", "единогласие", "спаянность",
    "гармония", "гармоничность", "мир", "равенство", "тождество", "согласие", "сходство"
]    

cultura_words = set(cultura_words0) |\
                set(cultura_word1) | set(cultura_word2) | set(cultura_word3) | set(cultura_word4) | set(cultura_word5) |\
                set(cultura_word6) | set(cultura_word7) | set(cultura_word8) | set(cultura_word9) | set(cultura_word10) |\
                set(cultura_word11) | set(cultura_word12) | set(cultura_word13) | set(cultura_word14) | set(cultura_word15) |\
                set(cultura_word16) | set(cultura_word17) | set(cultura_word18) | set(cultura_word19) | set(cultura_word20) |\
                set(cultura_word21) | set(cultura_word22)

### Проводим лемматизацию с помощью natasha

In [291]:
#!pip install natasha

## Обрабатываем колонку 'Отзыв' на предмет там нахождения слов, имеющих отношение к ценности

In [316]:
df_tokenize = pd_tokenize('Отзыв')

6914it [00:04, 1518.99it/s]

In [317]:
df_tokenize

        RecordNo       tokenize
0           6145     Рекомендую
1           6145          книгу
2           6145      прочтению
3           6145  прослушиванию
4           6145           Есть
...          ...            ...
255900       471         откуда
255901       471          взяты
255902       471         образы
255903       471      известных
255904       471           книг

[255905 rows x 2 columns]

In [305]:
df_tokenize.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255905 entries, 0 to 255904
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   RecordNo  255905 non-null  int64
 1   tokenize  255905 non-null  object
dtypes: int64(1), object(1)
memory usage: 3.9+ MB

In [338]:
import natasha
from natasha import (
    Segmenter,
    MorphVocab,
    
    NewsEmbedding,
    NewsMorphTagger,
    NewsSyntaxParser,
   
    PER,
    Doc
)

def get_lemmization(df_tokenize):
    
    segmenter = Segmenter()
    morph_vocab = MorphVocab()

    emb = NewsEmbedding()
    morph_tagger = NewsMorphTagger(emb)
    syntax_parser = NewsSyntaxParser(emb)

    cultura_result =[]
    
    # Токенизируем и разбиваем на леммы
    for index, row in tqdm(df_tokenize.iterrows()): 
        text = row['tokenize']
        doc = Doc(text)
        doc.segment(segmenter)
        doc.tag_morph(morph_tagger)
        doc.parse_syntax(syntax_parser)
    
        for token in doc.tokens:
            token.lemmatize(morph_vocab)
        lemms = []
        for doc_token  in doc.tokens:
            if doc_token.lemma in cultura_words:
                lemms.append(doc_token.lemma)

        if len(lemms) > 0:
            cultura_result.append((index, row['RecordNo'], lemms))
    return cultura_result

In [339]:
cultura_result = get_lemmization(df_tokenize)

255905it [16:23, 260.08it/s]

In [340]:
cultura_result

[(26, 7006, ['жизнь']),
 (30, 7006, ['мир']),
 (55, 1124, ['смысл']),
 (59, 1124, ['семья']),
 (64, 1124, ['сила']),
 (71, 1124, ['мир']),
 (128, 2946, ['высокий']),
 (248, 7635, ['жизнь']),
 (251, 7635, ['человек']),
 (275, 7226, ['жизнь']),
 (316, 7226, ['жизнь']),
 (317, 7226, ['россия']),
 (400, 3276, ['правда']),
 (466, 5321, ['напряжение']),
 (523, 3383, ['мир']),
 (541, 3383, ['ценность']),
 (546, 3383, ['род']),
 (646, 80, ['память']),
 (649, 80, ['традиция']),
 (652, 80, ['родные']),
 (661, 80, ['человек']),
 (693, 80, ['человек']),
 (695, 80, ['родные']),
 (705, 80, ['моральный']),
 (709, 80, ['человек']),
 (713, 80, ['жизнь']),
 (717, 80, ['усилие']),
 (744, 80, ['дело']),
 (755, 80, ['жизнь']),
 (756, 80, ['человек']),
 (758, 80, ['родина']),
 (761, 80, ['уважение']),
 (762, 80, ['ценность']),
 (770, 4990, ['жизнь']),
 (805, 4629, ['жизнь']),
 (807, 4629, ['сила']),
 (808, 4629, ['любовь']),
 (848, 6554, ['человек']),
 (871, 4843, ['судьба']),
 (872, 4843, ['страна']),
 (873, 4843, ['народ']),
 (879, 4843, ['человек']),
 (885, 7477, ['человек']),
 (887, 7477, ['мир']),
 (891, 7477, ['высокий']),
 (905, 7477, ['исторический']),
 (918, 7477, ['жизнь']),
 (991, 7477, ['мир']),
 (1006, 7477, ['традиция']),
 (1036, 7477, ['деятельность']),
 (1051, 7477, ['мир']),
 (1053, 7477, ['мир']),
 (1077, 7477, ['высокий']),
 (1101, 7477, ['жизнь']),
 (1113, 7477, ['жизнь']),
 (1147, 7477, ['смысл']),
 (1148, 7477, ['любовь']),
 (1153, 7477, ['мир']),
 (1159, 7477, ['сила']),
 (1169, 7477, ['предназначение']),
 (1170, 7477, ['смысл']),
 (1182, 997, ['уважение']),
 (1184, 997, ['труд']),
 (1213, 7574, ['мир']),
 (1221, 7574, ['судьба']),
 (1222, 7574, ['человек']),
 (1233, 7574, ['жизнь']),
 (1433, 694, ['память']),
 (1442, 694, ['работа']),
 (1449, 2406, ['доброта']),
 (1475, 2406, ['жизнь']),
 (1492, 2406, ['обычный']),
 (1493, 2406, ['человек']),
 (1518, 2944, ['исторический']),
 (1546, 1271, ['человек']),
 (1651, 1604, ['жизнь']),
 (1652, 1604, ['судьба']),
 (1663, 1604, ['душевный']),
 (1667, 1050, ['добрый']),
 (1741, 7772, ['любовь']),
 (1759, 7772, ['дело']),
 (1795, 5711, ['уважение']),
 (1807, 5711, ['исторический']),
 (1835, 5472, ['мир']),
 (1837, 5472, ['человек']),
 (1840, 5472, ['мир']),
 (1841, 5472, ['человек']),
 (1857, 5472, ['жизнь']),
 (1858, 5472, ['человек']),
 (1868, 5472, ['жизнь']),
 (1877, 2799, ['человек']),
 (1912, 7601, ['любовь']),
 (1931, 7601, ['память']),
 (1937, 7601, ['человек']),
 (1948, 2294, ['мир']),
 (1993, 1287, ['душевный']),
 (2058, 2398, ['судьба']),
 (2061, 2398, ['личность']),
 (2064, 2398, ['любовь']),
 (2092, 5940, ['смысл']),
 (2116, 6794, ['жизнь']),
 (2163, 817, ['жизнь']),
 (2165, 817, ['любовь']),
 (2179, 817, ['жизнь']),
 (2187, 2121, ['судьба']),
 (2197, 2121, ['человек']),
 (2207, 2510, ['россия']),
 (2225, 2510, ['человек']),
 (2269, 3634, ['доброта']),
 (2274, 3634, ['жизнь']),
 (2315, 4385, ['работа']),
 (2324, 4385, ['сила']),
 (2348, 1408, ['правда']),
 (2376, 2023, ['родина']),
 (2381, 2023, ['смысл']),
 (2462, 5392, ['жизнь']),
 (2583, 5978, ['человек']),
 (2639, 7761, ['страна']),
 (2704, 3789, ['жизнь']),
 (2708, 3789, ['работа']),
 (2773, 4532, ['исторический']),
 (2792, 4532, ['народ']),
 (2793, 4532, ['жизнь']),
 (2794, 4532, ['человек']),
 (2823, 5763, ['жизнь']),
 (2835, 5763, ['человек']),
 (2845, 5763, ['любовь']),
 (2855, 5763, ['жизнь']),
 (2876, 5763, ['жизнь']),
 (2884, 5763, ['судьба']),
 (2912, 4191, ['правда']),
 (2927, 1381, ['жизнь']),
 (2964, 6567, ['труд']),
 (3003, 1828, ['жизнь']),
 (3011, 1828, ['человек']),
 (3027, 1828, ['жизнь']),
 (3039, 1828, ['жизнь']),
 (3063, 2652, ['труд']),
 (3072, 2652, ['личность']),
 (3132, 992, ['человек']),
 (3183, 5770, ['любовь']),
 (3189, 5770, ['жизнь']),
 (3192, 5770, ['человек']),
 (3209, 6741, ['мир']),
 (3211, 6741, ['жизнь']),
 (3228, 3914, ['труд']),
 (3234, 3914, ['родные']),
 (3270, 7611, ['человек']),
 (3274, 7611, ['цель']),
 (3325, 4496, ['правда']),
 (3326, 4496, ['жизнь']),
 (3343, 7337, ['мир']),
 (3418, 6156, ['цель']),
 (3446, 6156, ['жизнь']),
 (3481, 6156, ['жизнь']),
 (3507, 251, ['жизнь']),
 (3525, 7322, ['крепкий']),
 (3544, 7322, ['поколение']),
 (3550, 7322, ['смысл']),
 (3582, 3450, ['человек']),
 (3649, 2350, ['душевный']),
 (3703, 6836, ['жизнь']),
 (3774, 943, ['человек']),
 (3792, 943, ['жизнь']),
 (3808, 943, ['высокий']),
 (3809, 943, ['справедливость']),
 (3832, 731, ['высокий']),
 (3866, 4321, ['судьба']),
 (3873, 4321, ['исторический']),
 (3913, 763, ['любовь']),
 (3917, 763, ['любовь']),
 (3938, 763, ['жизнь']),
 (3940, 763, ['прощение']),
 (3944, 763, ['человек']),
 (3989, 763, ['любовь']),
 (3992, 763, ['жизнь']),
 (4008, 763, ['мир']),
 (4013, 763, ['человек']),
 (4039, 763, ['смысл']),
 (4053, 763, ['особа']),
 (4069, 763, ['напряжение']),
 (4088, 5859, ['напряжение']),
 (4098, 5859, ['творение']),
 (4115, 5236, ['жизнь']),
 (4118, 5236, ['род']),
 (4157, 513, ['мир']),
 (4165, 7646, ['российский']),
 (4174, 7646, ['правда']),
 (4178, 7646, ['жизнь']),
 (4194, 5028, ['напряжение']),
 (4356, 7198, ['человек']),
 (4444, 4386, ['жизнь']),
 (4445, 4386, ['человек']),
 (4468, 4386, ['жизнь']),
 (4488, 5871, ['правда']),
 (4587, 2686, ['жизнь']),
 (4611, 2686, ['страна']),
 (4616, 2686, ['человек']),
 (4623, 2686, ['жизнь']),
 (4648, 6182, ['судьба']),
 (4653, 6182, ['исторический']),
 (4701, 6182, ['помощь']),
 (4710, 6182, ['человек']),
 (4716, 6182, ['жизнь']),
 (4724, 6182, ['жизнь']),
 (4738, 3830, ['россия']),
 (4744, 3830, ['судьба']),
 (4779, 6351, ['человек']),
 (4784, 6351, ['традиция']),
 (4785, 6351, ['народ']),
 (4796, 6351, ['любовь']),
 (4803, 6351, ['жизнь']),
 (4821, 1722, ['жизнь']),
 (4835, 1722, ['жизнь']),
 (4861, 1722, ['жизнь']),
 (4862, 1722, ['традиция']),
 (4893, 1722, ['любовь']),
 (4913, 1722, ['человек']),
 (4971, 1722, ['любовь']),
 (5005, 5704, ['любовь']),
 (5040, 7592, ['человек']),
 (5062, 7592, ['человек']),
 (5109, 3670, ['дело']),
 (5118, 3670, ['поколение']),
 (5119, 3670, ['человек']),
 (5129, 3670, ['поколение']),
 (5133, 3670, ['работа']),
 (5146, 3670, ['мир']),
 (5148, 3670, ['семья']),
 (5155, 3670, ['жизнь']),
 (5156, 3670, ['человек']),
 (5161, 3670, ['жизнь']),
 (5175, 3670, ['жизнь']),
 (5190, 3670, ['жизнь']),
 (5217, 7545, ['любовь']),
 (5286, 4739, ['человек']),
 (5470, 7420, ['любовь']),
 (5566, 933, ['человек']),
 (5577, 933, ['жизнь']),
 (5589, 933, ['жизнь']),
 (5593, 933, ['жизнь']),
 (5618, 6160, ['жизнь']),
 (5628, 6160, ['сочувствие']),
 (5689, 1288, ['сила']),
 (5696, 1288, ['сила']),
 (5703, 1288, ['цель']),
 (5717, 1288, ['доля']),
 (5732, 1288, ['семья']),
 (5739, 1288, ['человек']),
 (5744, 1288, ['жизнь']),
 (5764, 1288, ['жизнь']),
 (5766, 1288, ['крепкий']),
 (5776, 2343, ['душевный']),
 (5782, 2343, ['работа']),
 (5912, 2603, ['человек']),
 (5916, 2603, ['мир']),
 (5942, 1539, ['судьба']),
 (5948, 1539, ['страна']),
 (5971, 1539, ['поколение']),
 (6062, 5335, ['сочувствие']),
 (6080, 5335, ['смысл']),
 (6140, 2872, ['жизнь']),
 (6146, 2872, ['россия']),
 (6159, 2872, ['судьба']),
 (6176, 2872, ['правда']),
 (6294, 7278, ['личность']),
 (6299, 7278, ['любовь']),
 (6319, 4986, ['жизнь']),
 (6331, 84, ['высокий']),
 (6362, 84, ['жизнь']),
 (6407, 7563, ['смысл']),
 (6435, 6163, ['работа']),
 (6449, 6163, ['мир']),
 (6527, 58, ['человек']),
 (6558, 58, ['мир']),
 (6565, 58, ['страна']),
 (6579, 58, ['родина']),
 (6597, 58, ['свобода']),
 (6672, 58, ['мир']),
 (6689, 58, ['родина']),
 (6690, 58, ['правда']),
 (6692, 58, ['человек']),
 (6696, 58, ['родина']),
 (6718, 1765, ['смысл']),
 (6719, 1765, ['жизнь']),
 (6731, 268, ['смысл']),
 (6745, 268, ['судьба']),
 (6772, 4805, ['достоверность']),
 (6838, 6086, ['судьба']),
 (6858, 2838, ['жизнь']),
 (6860, 2838, ['ценность']),
 (6861, 2838, ['человечность']),
 (6864, 2838, ['любовь']),
 (6866, 2838, ['человек']),
 (6868, 2838, ['жизнь']),
 (6900, 2838, ['творение']),
 (6933, 7914, ['человек']),
 (7016, 7914, ['память']),
 (7019, 7914, ['добро']),
 (7081, 5194, ['родина']),
 (7085, 5194, ['человек']),
 (7175, 1145, ['творение']),
 (7205, 4663, ['традиция']),
 (7216, 4663, ['исторический']),
 (7217, 4663, ['достоверность']),
 (7231, 4055, ['смысл']),
 (7243, 4055, ['дело']),
 (7260, 4055, ['личность']),
 (7266, 255, ['сила']),
 (7277, 255, ['человек']),
 (7284, 971, ['дело']),
 (7285, 971, ['человек']),
 (7295, 971, ['родные']),
 (7375, 4233, ['ценность']),
 (7376, 4233, ['семья']),
 (7440, 993, ['любовь']),
 (7478, 993, ['жизнь']),
 (7480, 993, ['человек']),
 (7482, 993, ['человек']),
 (7487, 993, ['мир']),
 (7541, 4831, ['любовь']),
 (7555, 4153, ['ценность']),
 (7556, 4153, ['жизнь']),
 (7559, 4153, ['человек']),
 (7560, 4153, ['цена']),
 (7564, 4153, ['жизнь']),
 (7598, 1631, ['человек']),
 (7600, 1631, ['доля']),
 (7604, 1631, ['жизнь']),
 (7618, 1631, ['жизнь']),
 (7628, 1631, ['поколение']),
 (7634, 3022, ['жизнь']),
 (7650, 744, ['мир']),
 (7684, 744, ['любовь']),
 (7694, 4678, ['человек']),
 (7699, 4678, ['российский']),
 (7700, 4678, ['народ']),
 (7720, 3369, ['любовь']),
 (7859, 4162, ['семья']),
 (7879, 4162, ['жизнь']),
 (7960, 4967, ['ценность']),
 (7978, 4967, ['российский']),
 (7983, 4967, ['россия']),
 (7999, 4967, ['смысл']),
 (8003, 4967, ['человек']),
 (8010, 4967, ['народ']),
 (8018, 4967, ['добрый']),
 (8021, 4967, ['страна']),
 (8025, 4967, ['народ']),
 (8041, 3006, ['человек']),
 (8056, 3006, ['честный']),
 (8057, 3006, ['мир']),
 (8063, 7700, ['человек']),
 (8065, 7700, ['страна']),
 (8160, 212, ['судьба']),
 (8164, 212, ['человек']),
 (8207, 6625, ['высокий']),
 (8234, 6625, ['народ']),
 (8238, 6625, ['человек']),
 (8250, 6625, ['человек']),
 (8251, 6625, ['служение']),
 (8267, 6625, ['человек']),
 (8324, 1474, ['жизнь']),
 (8384, 1962, ['мир']),
 (8406, 1962, ['человек']),
 (8422, 1962, ['любовь']),
 (8427, 1962, ['труд']),
 (8496, 393, ['работа']),
 (8509, 5169, ['человек']),
 (8523, 3635, ['россия']),
 (8565, 4730, ['судьба']),
 (8567, 4730, ['сила']),
 (8603, 5590, ['жизнь']),
 (8606, 5590, ['жизнь']),
 (8608, 5590, ['человек']),
 (8613, 5590, ['страна']),
 (8646, 2850, ['творение']),
 (8662, 2850, ['смысл']),
 (8691, 2104, ['память']),
 (8694, 2104, ['страна']),
 (8704, 3379, ['жизнь']),
 (8731, 3379, ['жизнь']),
 (8739, 55, ['душевный']),
 (8758, 55, ['жизнь']),
 (8867, 5741, ['жизнь']),
 (8877, 5741, ['жизнь']),
 (8879, 5741, ['человек']),
 (9021, 7075, ['народ']),
 (9117, 5895, ['жизнь']),
 (9123, 5895, ['жизнь']),
 (9151, 5895, ['человек']),
 (9169, 7624, ['страна']),
 (9203, 5649, ['мир']),
 (9244, 5914, ['судьба']),
 (9282, 1383, ['человек']),
 (9292, 1383, ['судьба']),
 (9293, 1383, ['человек']),
 (9295, 1383, ['жизнь']),
 (9314, 5128, ['труд']),
 (9325, 3639, ['человек']),
 (9327, 3639, ['судьба']),
 (9335, 3639, ['любовь']),
 (9393, 6934, ['свобода']),
 (9415, 6934, ['жизнь']),
 (9428, 6934, ['свобода']),
 (9430, 6934, ['жизнь']),
 (9440, 6934, ['мир']),
 (9443, 6934, ['мир']),
 (9461, 6934, ['обычный']),
 (9509, 6131, ['страна']),
 (9521, 6131, ['ценность']),
 (9525, 6131, ['достоинство']),
 (9526, 6131, ['доброта']),
 (9527, 6131, ['сочувствие']),
 (9528, 6131, ['любовь']),
 (9529, 6131, ['человек']),
 (9538, 6131, ['жизнь']),
 (9553, 6131, ['человек']),
 (9561, 6131, ['род']),
 (9571, 6131, ['семья']),
 (9580, 6131, ['родина']),
 (9641, 4555, ['жизнь']),
 (9649, 6061, ['жизнь']),
 (9661, 6061, ['жизнь']),
 (9666, 6061, ['жизнь']),
 (9670, 6061, ['любовь']),
 (9683, 6061, ['родные']),
 (9693, 6061, ['смысл']),
 (9694, 6061, ['жизнь']),
 (9697, 6061, ['родные']),
 (9698, 6061, ['человек']),
 (9762, 695, ['жизнь']),
 (9763, 695, ['любовь']),
 (9767, 695, ['жизнь']),
 (9771, 695, ['человек']),
 (9773, 695, ['человек']),
 (9803, 2953, ['человечность']),
 (9808, 2953, ['человек']),
 (9811, 2953, ['человек']),
 (9814, 2953, ['душевный']),
 (9849, 4856, ['страна']),
 (9862, 4856, ['человек']),
 (9867, 4856, ['человечность']),
 (9872, 4856, ['любовь']),
 (9926, 5674, ['память']),
 (9928, 5674, ['исторический']),
 (9950, 5674, ['дело']),
 (9952, 5674, ['человек']),
 (9998, 7291, ['жизнь']),
 (10037, 6509, ['любовь']),
 (10096, 2776, ['уважение']),
 (10138, 6663, ['страна']),
 (10267, 6214, ['труд']),
 (10341, 4909, ['исторический']),
 (10345, 4909, ['народ']),
 (10348, 4909, ['работа']),
 (10385, 3665, ['доброта']),
 (10386, 3665, ['любовь']),
 (10438, 1585, ['верность']),
 (10441, 1585, ['сила']),
 (10448, 4808, ['человек']),
 (10454, 4808, ['российский']),
 (10482, 5364, ['работа']),
 (10499, 3465, ['российский']),
 (10542, 6542, ['человек']),
 (10546, 6542, ['страна']),
 (10575, 178, ['добрый']),
 (10576, 178, ['любовь']),
 (10674, 3447, ['сила']),
 (10706, 4206, ['традиция']),
 (10723, 4206, ['мир']),
 (10735, 4206, ['жизнь']),
 (10746, 4206, ['мировоззрение']),
 (10781, 5685, ['жизнь']),
 (10817, 4709, ['работа']),
 (10824, 7458, ['правда']),
 (10858, 7458, ['мир']),
 (10861, 7458, ['человек']),
 (10878, 6890, ['исторический']),
 (10889, 6890, ['жизнь']),
 (10935, 4759, ['клад']),
 (10950, 816, ['жизнь']),
 (10957, 816, ['человек']),
 (10995, 164, ['смысл']),
 (11018, 164, ['жизнь']),
 (11087, 2540, ['семья']),
 (11122, 2540, ['мир']),
 (11133, 1134, ['человек']),
 (11160, 1134, ['судьба']),
 (11192, 5452, ['личность']),
 (11195, 5452, ['человек']),
 (11256, 801, ['жизнь']),
 (11257, 801, ['человек']),
 (11278, 801, ['человек']),
 (11280, 801, ['жизнь']),
 (11284, 801, ['жизнь']),
 (11292, 801, ['память']),
 (11293, 801, ['дело']),
 (11308, 3883, ['напряжение']),
 (11321, 7527, ['любовь']),
 (11322, 7527, ['жизнь']),
 (11324, 7527, ['ценность']),
 (11422, 2509, ['человек']),
 (11468, 416, ['судьба']),
 (11470, 416, ['любовь']),
 (11503, 1914, ['страна']),
 (11506, 1914, ['судьба']),
 (11509, 1914, ['человек']),
 (11533, 1861, ['человек']),
 (11574, 6998, ['родные']),
 (11586, 6998, ['жизнь']),
 (11588, 6998, ['семья']),
 (11602, 6998, ['род']),
 (11619, 6998, ['жизнь']),
 (11715, 4472, ['жизнь']),
 (11722, 4472, ['любовь']),
 (11726, 1043, ['добрый']),
 (11730, 1043, ['жизнь']),
 (11731, 1043, ['человек']),
 (11754, 1043, ['любовь']),
 (11776, 524, ['сила']),
 (11778, 524, ['человек']),
 (11781, 524, ['мир']),
 (11785, 524, ['народ']),
 (11807, 4205, ['страна']),
 (11812, 4205, ['население']),
 (11814, 3614, ['сила']),
 (11853, 57, ['жизнь']),
 (11926, 1555, ['доля']),
 (11971, 3997, ['работа']),
 (12046, 4648, ['исторический']),
 (12091, 7884, ['жизнь']),
 (12107, 7884, ['жизнь']),
 (12151, 7546, ['обычный']),
 (12152, 7546, ['человек']),
 (12195, 2549, ['жизнь']),
 (12208, 2549, ['жизнь']),
 (12219, 5252, ['россия']),
 (12235, 5252, ['дело']),
 (12241, 5252, ['смысл']),
 (12320, 2275, ['память']),
 (12322, 2275, ['семья']),
 (12333, 2275, ['память']),
 (12344, 2275, ['память']),
 (12360, 2275, ['семья']),
 (12377, 2275, ['память']),
 (12380, 2275, ['семья']),
 (12400, 4848, ['традиция']),
 (12425, 4848, ['любовь']),
 (12430, 4848, ['родина']),
 (12496, 3991, ['мир']),
 (12509, 1484, ['любовь']),
 (12516, 5174, ['человек']),
 (12522, 5174, ['дело']),
 (12597, 2589, ['дело']),
 (12663, 7457, ['цель']),
 (12666, 7457, ['человек']),
 (12692, 7457, ['человек']),
 (12717, 7457, ['правда']),
 (12768, 7457, ['свобода']),
 (12791, 7457, ['жизнь']),
 (12806, 7457, ['жизнь']),
 (12817, 7457, ['жизнь']),
 (12841, 7457, ['моральный']),
 (12927, 5501, ['образец']),
 (12970, 1889, ['человек']),
 (12973, 1889, ['духовный']),
 (13066, 5319, ['народ']),
 (13180, 5823, ['жизнь']),
 (13182, 5823, ['народ']),
 (13195, 2474, ['правда']),
 (13222, 7511, ['мир']),
 (13253, 7511, ['исторический']),
 (13254, 7511, ['труд']),
 (13289, 88, ['жизнь']),
 (13389, 946, ['любовь']),
 (13457, 946, ['уважение']),
 (13532, 946, ['дело']),
 (13564, 946, ['россия']),
 (13578, 946, ['дело']),
 (13586, 946, ['свобода']),
 (13587, 946, ['человек']),
 (13590, 946, ['нравственный']),
 (13599, 946, ['человек']),
 (13637, 946, ['исторический']),
 (13858, 16, ['жизнь']),
 (13895, 91, ['исторический']),
 (13910, 91, ['мир']),
 (13918, 91, ['сила']),
 (13922, 91, ['жизнь']),
 (13973, 4999, ['дело']),
 (13981, 4999, ['правда']),
 (13982, 4999, ['жизнь']),
 (13984, 4999, ['человек']),
 (13985, 4999, ['судьба']),
 (13998, 4999, ['человек']),
 (14003, 4999, ['человек']),
 (14032, 4999, ['обычный']),
 (14044, 4999, ['человек']),
 (14086, 4999, ['правда']),
 (14094, 4999, ['жизнь']),
 (14099, 4999, ['дело']),
 (14118, 4999, ['труд']),
 (14123, 4999, ['правда']),
 (14264, 4349, ['исторический']),
 (14275, 4349, ['судьба']),
 (14317, 1696, ['жизнь']),
 (14323, 1696, ['жизнь']),
 (14328, 1696, ['обычный']),
 (14362, 5971, ['человек']),
 (14371, 5971, ['работа']),
 (14428, 1958, ['исторический']),
 (14445, 2268, ['особа']),
 (14556, 5471, ['человек']),
 (14589, 3080, ['мир']),
 (14590, 3080, ['личность']),
 (14611, 390, ['семья']),
 (14650, 390, ['судьба']),
 (14659, 390, ['жизнь']),
 (14668, 390, ['человек']),
 (14709, 6392, ['поколение']),
 (14742, 4882, ['любовь']),
 (14759, 7792, ['правда']),
 (14800, 7792, ['россия']),
 (14819, 5799, ['жизнь']),
 (14828, 5799, ['любовь']),
 (14862, 7722, ['жизнь']),
 (14864, 7722, ['любовь']),
 (15010, 5403, ['любовь']),
 (15071, 965, ['исторический']),
 (15087, 965, ['патриотизм']),
 (15138, 3638, ['исторический']),
 (15141, 3638, ['жизнь']),
 (15143, 3638, ['человек']),
 (15147, 3638, ['любовь']),
 (15154, 5650, ['жизнь']),
 (15156, 5650, ['человек']),
 (15162, 5650, ['мир']),
 (15177, 6271, ['любовь']),
 (15178, 6271, ['любовь']),
 (15180, 6271, ['любовь']),
 (15182, 6271, ['любовь']),
 (15183, 6271, ['жизнь']),
 (15223, 7614, ['народ']),
 (15226, 7614, ['семья']),
 (15230, 7614, ['человек']),
 (15232, 7614, ['страна']),
 (15238, 7614, ['доля']),
 (15254, 7614, ['работа']),
 (15255, 7244, ['честный']),
 (15302, 7296, ['исторический']),
 (15358, 5907, ['человек']),
 (15392, 5091, ['мир']),
 (15393, 5091, ['жизнь']),
 (15412, 5091, ['человек']),
 (15422, 5091, ['труд']),
 (15425, 5091, ['жизнь']),
 (15441, 5091, ['духовный']),
 (15442, 5091, ['человек']),
 (15446, 5091, ['ценность']),
 (15455, 3283, ['жизнь']),
 (15456, 3283, ['жизнь']),
 (15459, 3283, ['человек']),
 (15466, 3283, ['жизнь']),
 (15499, 3407, ['обычный']),
 (15513, 5626, ['страна']),
 (15515, 5626, ['судьба']),
 (15517, 5626, ['человек']),
 (15519, 5626, ['жизнь']),
 (15534, 5626, ['жизнь']),
 (15597, 109, ['сострадание']),
 (15600, 109, ['человек']),
 (15602, 109, ['любовь']),
 (15634, 7945, ['судьба']),
 (15650, 7894, ['высокий']),
 (15655, 7894, ['россия']),
 (15667, 1498, ['напряжение']),
 (15677, 1498, ['страна']),
 (15686, 680, ['правда']),
 (15710, 680, ['судьба']),
 (15732, 680, ['человек']),
 (15755, 680, ['жизнь']),
 (15762, 680, ['судьба']),
 (15774, 680, ['жизнь']),
 (15910, 7838, ['исторический']),
 (15918, 7838, ['человек']),
 (15922, 7838, ['жизнь']),
 (15924, 7838, ['сила']),
 (15927, 7838, ['жизнь']),
 (15942, 7838, ['работа']),
 (16020, 3751, ['мир']),
 (16025, 3751, ['жизнь']),
 (16058, 3751, ['жизнь']),
 (16070, 3751, ['человек']),
 (16160, 3751, ['душевный']),
 (16205, 1233, ['жизнь']),
 (16242, 1233, ['дело']),
 (16254, 1233, ['человек']),
 (16285, 1233, ['духовный']),
 (16288, 1233, ['человек']),
 (16315, 1233, ['жизнь']),
 (16322, 1233, ['жизнь']),
 (16330, 1233, ['работа']),
 (16341, 1233, ['человек']),
 (16346, 1233, ['мир']),
 (16350, 1233, ['жизнь']),
 (16357, 1233, ['любовь']),
 (16358, 1233, ['жизнь']),
 (16362, 1233, ['жизнь']),
 (16388, 1233, ['добро']),
 (16391, 1233, ['жизнь']),
 (16423, 7554, ['мир']),
 (16431, 7554, ['труд']),
 (16449, 6098, ['значимость']),
 (16552, 5551, ['человек']),
 (16555, 5551, ['мир']),
 (16654, 5320, ['жизнь']),
 (16716, 4092, ['пример']),
 (16908, 890, ['человек']),
 (17022, 2188, ['род']),
 (17033, 4584, ['жизнь']),
 (17052, 1446, ['право']),
 (17060, 1446, ['целостность']),
 (17077, 3479, ['судьба']),
 (17086, 3479, ['жизнь']),
 (17110, 7357, ['труд']),
 (17280, 3712, ['жизнь']),
 (17282, 3712, ['свобода']),
 (17303, 1247, ['жизнь']),
 (17336, 1247, ['жизнь']),
 (17340, 1247, ['жизнь']),
 (17362, 6679, ['судьба']),
 (17364, 6679, ['человек']),
 (17378, 6679, ['личность']),
 (17433, 813, ['жизнь']),

In [341]:
df_cultura = pd.DataFrame(cultura_result,columns=['index', 'tokenize_id',  'cultura_review_words'])

In [342]:
len(df_cultura)

10852

In [343]:
df_cultura

        index  tokenize_id cultura_review_words
0          26         7006              [жизнь]
1          30         7006                [мир]
2          55         1124              [смысл]
3          59         1124              [семья]
4          64         1124               [сила]
...       ...          ...                  ...
10847  255853         6071             [любовь]
10848  255871         3805             [любовь]
10849  255888          471              [семья]
10850  255891          471              [жизнь]
10851  255896          471              [жизнь]

[10852 rows x 3 columns]

In [344]:
df_tokenize['index'] = df_tokenize.index

In [345]:
df_tokenize

        RecordNo       tokenize   index
0           6145     Рекомендую       0
1           6145          книгу       1
2           6145      прочтению       2
3           6145  прослушиванию       3
4           6145           Есть       4
...          ...            ...     ...
255900       471         откуда  255900
255901       471          взяты  255901
255902       471         образы  255902
255903       471      известных  255903
255904       471           книг  255904

[255905 rows x 3 columns]

In [346]:
df_cultura_result = df_tokenize.merge(df_cultura, left_on='index', right_on='index', how='left' )

In [348]:
df_cultura_result['review_total_words'] = 1

In [349]:
df_cultura_result

,RecordNo,tokenize,index,tokenize_id,cultura_review_words,review_total_words
0,6145,Рекомендую,0,NaN,NaN,1
1,6145,книгу,1,NaN,NaN,1
2,6145,прочтению,2,NaN,NaN,1
3,6145,прослушиванию,3,NaN,NaN,1
4,6145,Есть,4,NaN,NaN,1
...,...,...,...,...,...,...
255900,471,откуда,255900,NaN,NaN,1
255901,471,взяты,255901,NaN,NaN,1
255902,471,образы,255902,NaN,NaN,1
255903,471,известных,255903,NaN,NaN,1
255904,471,книг,255904,NaN,NaN,1

In [350]:
df_cultura_group = df_cultura_result.groupby('RecordNo')['cultura_review_words','review_total_words'].agg('count').add_suffix("_count").reset_index()

C:\Users\Сергей\AppData\Local\Temp\ipykernel_15652\2604123461.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_cultura_group = df_cultura_result.groupby('RecordNo')['cultura_review_words','review_total_words'].agg('count').add_suffix("_count").reset_index()

In [365]:
df_cultura_group

      RecordNo  cultura_review_words_count  review_total_words_count
0            2                           2                        69
1            3                           0                         8
2            6                           4                       119
3            7                           2                        30
4            8                           1                        47
...        ...                         ...                       ...
6909      7954                           2                        20
6910      7955                           2                        21
6911      7957                           1                        21
6912      7958                           2                        48
6913      7960                           1                        44

[6914 rows x 3 columns]

In [366]:
df_with_split = df_with_split.merge(df_cultura_group, left_on='RecordNo', right_on='RecordNo', how='left' )

In [369]:
df_with_split = df_with_split.set_index('RecordNo')

In [384]:
df_with_split

,Название книги,Автор,Ссылка на литрес,Рейтинг,Количество оценок,Количество отзывов,Имя читателя,Оценка книги читателем (из 5 баллов),Отзыв,Лайки на отзыв,Дислайки на отзыв,Релевантность,Таксономия релевантные,Таксономия не релевантные,Длина отзыва,Ценности,split,cultura_review_words_count,review_total_words_count
RecordNo,,,,,,,,,,,,,,,,,,,
6145,Зулейха открывает глаза,23,https://www.litres.ru/guzel-yahina/zuleyha-otk...,4.7,3922,408,Айгуль Ляпина,5.0,Рекомендую книгу в прочтению/прослушиванию. Ес...,0,3,0.0,0.0,0.0,0.0,0.0,train,0,15
7006,Зулейха открывает глаза,23,https://www.litres.ru/guzel-yahina/zuleyha-otk...,4.6,24719,2103,Olga T,5.0,"Удивительно, что сейчас возникает ТАКАЯ литера...",0,1,0.0,0.0,0.0,0.0,1.0,train,2,28
1124,Дети мои,23,https://www.litres.ru/guzel-yahina/deti-moi/,4.4,8032,702,Кирилл Чириков,5.0,"Душевно, жизненно, чувственно, проникновенно!!...",0,0,0.0,1.0,0.0,0.0,1.0,train,4,31
4716,ПОСТ,27,https://www.litres.ru/dmitriy-gluhovskiy/post/,3.9,430,48,Kimetov Oleg,5.0,Очень понравилось. Причем понравилось больше «...,2,7,0.0,1.0,0.0,0.0,0.0,train,0,39
2946,ПОСТ,27,https://www.litres.ru/dmitriy-gluhovskiy/post-...,4.4,832,113,Сергей Никитин,5.0,Круто. Автор и он же чтец – гений. Прослушал н...,1,0,0.0,0.0,0.0,0.0,0.0,train,1,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4661,Зулейха открывает глаза,23,https://www.litres.ru/guzel-yahina/zuleyha-otk...,4.6,24719,2103,Екатерина Юзбашьян,5.0,"Очень понравилась!!!! Написана грамотным, крас...",0,1,NaN,NaN,NaN,NaN,NaN,test,1,26
1547,Дети мои,23,https://www.litres.ru/guzel-yahina/deti-moi/,4.4,8032,702,239833928,4.0,Зулейха понравилась больше. Книга Дети мои каж...,0,0,NaN,NaN,NaN,NaN,NaN,test,0,26
6071,Зулейха открывает глаза,23,https://www.litres.ru/guzel-yahina/zuleyha-otk...,4.6,24719,2103,I be,5.0,"Прочла на одном дыхании, не смотря на раздираю...",0,1,NaN,NaN,NaN,NaN,NaN,test,4,37
3805,С неба упали три яблока,45,https://www.litres.ru/narine-abgaryan/s-neba-u...,4.8,1455,189,Ольга Акопян,5.0,нет слов. потрясающе. эту книгу не описать. но...,0,0,NaN,NaN,NaN,NaN,NaN,test,1,23
471,Лев Толстой: Бегство из рая,48,https://www.litres.ru/pavel-basinskiy/lev-tols...,4.4,151,24,559376271,5.0,Великолепная книга. Подробно описаны взаимоотн...,0,0,NaN,NaN,NaN,NaN,NaN,test,3,24

## Выделим выборки

In [425]:
mass_label = ['Релевантность',
       'Таксономия релевантные', 'Таксономия не релевантные',
       'Длина отзыва', 'Ценности']

In [426]:
object_label = df_with_split.dtypes[df_with_split.dtypes == "object"].index.values

In [427]:
object_label = ['Название книги', 'Ссылка на литрес', 'Имя читателя', 'Отзыв', 'split']

In [428]:
df_train = df_with_split.loc[df_with_split['split'] == 'train']
df_train.head()

,Название книги,Автор,Ссылка на литрес,Рейтинг,Количество оценок,Количество отзывов,Имя читателя,Оценка книги читателем (из 5 баллов),Отзыв,Лайки на отзыв,Дислайки на отзыв,Релевантность,Таксономия релевантные,Таксономия не релевантные,Длина отзыва,Ценности,split,cultura_review_words_count,review_total_words_count,len_reviews
RecordNo,,,,,,,,,,,,,,,,,,,,
6145,Зулейха открывает глаза,23,https://www.litres.ru/guzel-yahina/zuleyha-otk...,4.7,3922,408,Айгуль Ляпина,5.0,Рекомендую книгу в прочтению/прослушиванию. Ес...,0,3,0.0,0.0,0.0,0.0,0.0,train,0,15,157
7006,Зулейха открывает глаза,23,https://www.litres.ru/guzel-yahina/zuleyha-otk...,4.6,24719,2103,Olga T,5.0,"Удивительно, что сейчас возникает ТАКАЯ литера...",0,1,0.0,0.0,0.0,0.0,1.0,train,2,28,283
1124,Дети мои,23,https://www.litres.ru/guzel-yahina/deti-moi/,4.4,8032,702,Кирилл Чириков,5.0,"Душевно, жизненно, чувственно, проникновенно!!...",0,0,0.0,1.0,0.0,0.0,1.0,train,4,31,278
4716,ПОСТ,27,https://www.litres.ru/dmitriy-gluhovskiy/post/,3.9,430,48,Kimetov Oleg,5.0,Очень понравилось. Причем понравилось больше «...,2,7,0.0,1.0,0.0,0.0,0.0,train,0,39,342
2946,ПОСТ,27,https://www.litres.ru/dmitriy-gluhovskiy/post-...,4.4,832,113,Сергей Никитин,5.0,Круто. Автор и он же чтец – гений. Прослушал н...,1,0,0.0,0.0,0.0,0.0,0.0,train,1,20,177

In [446]:
df_train = df_train.fillna(0)

In [447]:
X = df_train.drop(mass_label, axis = 1)
X = X.drop(object_label, axis = 1)

y = df_train[mass_label]

In [448]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4839 entries, 6145 to 6849
Data columns (total 10 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Автор                                 4839 non-null   int8
 1   Рейтинг                               4839 non-null   float64
 2   Количество оценок                     4839 non-null   int64
 3   Количество отзывов                    4839 non-null   int64
 4   Оценка книги читателем (из 5 баллов)  4839 non-null   float64
 5   Лайки на отзыв                        4839 non-null   int64
 6   Дислайки на отзыв                     4839 non-null   int64
 7   cultura_review_words_count            4839 non-null   int64
 8   review_total_words_count              4839 non-null   int64
 9   len_reviews                           4839 non-null   int64
dtypes: float64(2), int64(7), int8(1)
memory usage: 382.8 KB

In [449]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

## Обучение модели

In [450]:
clf = RandomForestClassifier(random_state=0)

In [451]:
clf.fit(X, y)

RandomForestClassifier(random_state=0)

## Оценка точности

In [435]:
#pred = clf.predict(X_test)

In [436]:
#y_test.head(3)

In [437]:
#from sklearn.metrics import recall_score

#print("Recall score:", recall_score(y_test, pred, average='macro'))

## Выводим результат

In [452]:
df_test = df_with_split.loc[df_with_split['split'] == 'test']
df_test.head()

,Название книги,Автор,Ссылка на литрес,Рейтинг,Количество оценок,Количество отзывов,Имя читателя,Оценка книги читателем (из 5 баллов),Отзыв,Лайки на отзыв,Дислайки на отзыв,Релевантность,Таксономия релевантные,Таксономия не релевантные,Длина отзыва,Ценности,split,cultura_review_words_count,review_total_words_count,len_reviews
RecordNo,,,,,,,,,,,,,,,,,,,,
3366,Дети мои,23,https://www.litres.ru/guzel-yahina/deti-moi/,4.4,8032,702,Марина Ефимкина,5.0,"Настоящая глубокая книга, коих сейчас очень не...",2,0,NaN,NaN,NaN,NaN,NaN,test,2,20,181
3952,Текст,27,https://www.litres.ru/dmitriy-gluhovskiy/tekst...,4.5,1923,246,alexvarp,5.0,Одна из лучших книг прочитанных за последние г...,1,0,NaN,NaN,NaN,NaN,NaN,test,0,22,219
6852,Текст,27,https://www.litres.ru/dmitriy-gluhovskiy/tekst/,4.4,7276,622,fb_154207611938008,5.0,"Тот случай, когда невозможно пройти мимо, не о...",0,0,NaN,NaN,NaN,NaN,NaN,test,1,45,390
4586,Зулейха открывает глаза,23,https://www.litres.ru/guzel-yahina/zuleyha-otk...,4.6,24719,2103,Мария Курочкина,NaN,"Очень не глубокая книга. Дочитала до конца, в ...",4,0,NaN,NaN,NaN,NaN,NaN,test,1,34,280
4677,Зулейха открывает глаза,23,https://www.litres.ru/guzel-yahina/zuleyha-otk...,4.6,24719,2103,sahnovavera,NaN,"Очень понравилась. Читается легко, о непростых...",0,1,NaN,NaN,NaN,NaN,NaN,test,2,16,136

In [453]:
X_test = df_test.drop(mass_label, axis = 1)
X_test = X_test.drop(object_label, axis = 1)
X_test

,Автор,Рейтинг,Количество оценок,Количество отзывов,Оценка книги читателем (из 5 баллов),Лайки на отзыв,Дислайки на отзыв,cultura_review_words_count,review_total_words_count,len_reviews
RecordNo,,,,,,,,,,
3366,23,4.4,8032,702,5.0,2,0,2,20,181
3952,27,4.5,1923,246,5.0,1,0,0,22,219
6852,27,4.4,7276,622,5.0,0,0,1,45,390
4586,23,4.6,24719,2103,NaN,4,0,1,34,280
4677,23,4.6,24719,2103,NaN,0,1,2,16,136
...,...,...,...,...,...,...,...,...,...,...
4661,23,4.6,24719,2103,5.0,0,1,1,26,243
1547,23,4.4,8032,702,4.0,0,0,0,26,186
6071,23,4.6,24719,2103,5.0,0,1,4,37,324
3805,45,4.8,1455,189,5.0,0,0,1,23,217
471,48,4.4,151,24,5.0,0,0,3,24,230

In [454]:
X_test = X_test.fillna(0)

In [455]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 3366 to 471
Data columns (total 10 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Автор                                 2075 non-null   int8
 1   Рейтинг                               2075 non-null   float64
 2   Количество оценок                     2075 non-null   int64
 3   Количество отзывов                    2075 non-null   int64
 4   Оценка книги читателем (из 5 баллов)  2075 non-null   float64
 5   Лайки на отзыв                        2075 non-null   int64
 6   Дислайки на отзыв                     2075 non-null   int64
 7   cultura_review_words_count            2075 non-null   int64
 8   review_total_words_count              2075 non-null   int64
 9   len_reviews                           2075 non-null   int64
dtypes: float64(2), int64(7), int8(1)
memory usage: 164.1 KB

In [456]:
y = df_test[mass_label]

In [457]:
y

,Релевантность,Таксономия релевантные,Таксономия не релевантные,Длина отзыва,Ценности
RecordNo,,,,,
3366,NaN,NaN,NaN,NaN,NaN
3952,NaN,NaN,NaN,NaN,NaN
6852,NaN,NaN,NaN,NaN,NaN
4586,NaN,NaN,NaN,NaN,NaN
4677,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
4661,NaN,NaN,NaN,NaN,NaN
1547,NaN,NaN,NaN,NaN,NaN
6071,NaN,NaN,NaN,NaN,NaN
3805,NaN,NaN,NaN,NaN,NaN
471,NaN,NaN,NaN,NaN,NaN

In [458]:
pred = clf.predict(X_test)

In [459]:
pred

array([[0., 1., 0., 0., 1.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 1.],
       ...,
       [1., 1., 0., 0., 1.],
       [0., 0., 0., 1., 1.],
       [0., 0., 0., 1., 1.]])

In [460]:
y[mass_label] = pred

C:\Users\Сергей\AppData\Local\Temp\ipykernel_15652\124737008.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y[mass_label] = pred

In [461]:
y

,Релевантность,Таксономия релевантные,Таксономия не релевантные,Длина отзыва,Ценности
RecordNo,,,,,
3366,0.0,1.0,0.0,0.0,1.0
3952,0.0,1.0,0.0,0.0,0.0
6852,0.0,1.0,0.0,0.0,1.0
4586,0.0,1.0,0.0,0.0,1.0
4677,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...
4661,0.0,1.0,0.0,0.0,1.0
1547,1.0,1.0,0.0,0.0,0.0
6071,1.0,1.0,0.0,0.0,1.0
3805,0.0,0.0,0.0,1.0,1.0
471,0.0,0.0,0.0,1.0,1.0

In [462]:
df_submission = y.reset_index()
df_submission

,RecordNo,Релевантность,Таксономия релевантные,Таксономия не релевантные,Длина отзыва,Ценности
0,3366,0.0,1.0,0.0,0.0,1.0
1,3952,0.0,1.0,0.0,0.0,0.0
2,6852,0.0,1.0,0.0,0.0,1.0
3,4586,0.0,1.0,0.0,0.0,1.0
4,4677,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...
2070,4661,0.0,1.0,0.0,0.0,1.0
2071,1547,1.0,1.0,0.0,0.0,0.0
2072,6071,1.0,1.0,0.0,0.0,1.0
2073,3805,0.0,0.0,0.0,1.0,1.0
2074,471,0.0,0.0,0.0,1.0,1.0

In [463]:
df_submission.to_csv("./content/RSF_submission1.csv", index=False)